@import url(/fonts.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    padding: 30px 0 0 0;
    margin: auto;
}



.section-top {
    width: 1176px;
    display: flex;
    align-items: center;
    gap: 75px;
    padding: 0 0 30px 0;
}

.section-top p {
    color: #7E8290;
    font-size: 14px;
}


.header-adress {
    display: flex;
    align-items: center;
    gap: 10px;
}

#orange-text {
    color: #F85B18;
}

.adress-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-size: 14px;
}

.adress-text p {
    color: black;
}

.header-call {
    display: flex;
    align-items: center;
    gap: 10px;
}

.call-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.call-text p {
    color: #7E8290;
    font-size: 12px;
}

.call-text h3 {
    font-size: 22px;
    font-weight: 550;
}




.container-header-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    
}


.header-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F1F1F2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
} 

.header-btn-count {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #F85B18;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    box-shadow: 0 0 0 2px white;
}


.section-bottom {
    height: 58px;
    width: 1176px;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 25px 0 25px 20px;
    background-color: #F4F4F5;
    margin-bottom: 30px;
    border-radius: 8px;
}

.header-nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 16px;
}

a {
    color: inherit; /* Убирает цвет, наследуя от родителя (обычно черный, если не задан) */
    text-decoration: none; /* Убирает подчеркивание */
}

.search {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 196px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.search-input {
    width: 100%; 
    padding: 10px 40px 10px 15px; 
    border: none; 
    outline: none; 
    font-size: 14px; 
}

.search-icon {
    position: absolute; 
    right: 10px; 
    width: 20px; 
    height: 20px; 
    opacity: 0.6; 
}



.promo-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.img-slide {
    position: relative;
}

.left-btm {
    position: absolute;
    z-index: 1;
    left: 330px;
    top: 370px;
}

.right-btm {
    position: absolute;
    z-index: 1;
    right: 330px;
    top: 370px;
}




.catalog-door-types {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 50px;
}


.catalog-door-name {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 140px;
    margin-bottom: 30px;
}

.interior-doors {
    display: flex;
    justify-content: center;
    position: relative;
}

.solid-doors {
    display: flex;
    justify-content: center;
    position: relative;
}

.sliding-interior-doors {
    display: flex;
    justify-content: center;
    position: relative;
}

.glass-doors {
    display: flex;
    justify-content: center;
    position: relative;
}

.catalog-img {
    position: relative;
}

.catalog-name {
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    bottom: 20px;
}

.catalog-door-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    margin: 20px 0 50px 0;
    padding-top: 10px;
}

.catalog-door-head-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 550px;
    margin: 20px 0 50px 0;
    padding-top: 10px;

}

.nav-links {
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.catalog-interior-doors {
    display: flex;
    justify-content: center;
}

.door-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.door-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 282px;
    max-height: 542px;
    overflow: hidden;
    gap: 10px;
}

.title-head-door {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;

}




.door-card-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    width: 376px;
    height: 542px;
    overflow: hidden;
    gap: 10px;
}

.solid-door-img {
    max-width: 344px;
    max-height: 334px;
    padding-top: 10px;
}


.door-cards p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.door-card-sale {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    gap: 140px;
}

.door-card-sale-solid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    gap: 250px;
}

.door-card-sale h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}

.door-card-sale-solid h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}

.colors-door {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 212px;
    height: 50px;
    gap: 3px;
    margin-right: 20px;
    margin-top: 20px;
}

.colors-door-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 50px;
    gap: 3px;
    margin-right: 20px;
    margin-top: 20px;
}


.color_container {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    overflow: hidden;
}



.color_container_number {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    border:2px solid #F85B18;
    display: flex;
    justify-content: center;
    align-items: center;
}


.color_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-price {
    display: flex;
    width: 829px;
    margin: 30px 20px 0px 20px;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: #E0E0E2;
    border-radius: 38px;
    gap: 30px;
}


.nav-price a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    border-radius: 38px;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}

.orange-btm {
    background-color: #F85B18;
    width: 204px;
    height: 40px;
    color: #F4F4F5;
}

.interior_door {
    background-color: #F4F4F5;
    display: flow-root;
}

.catalog-entrance-doors {
    background-color: #F4F4F5;
    display: flow-root;
    padding-bottom: 40px;
}

.line {
    justify-content: center;
    height: 30px;
    border: 1px solid #BABAC4;
    transform: rotate(180deg);
    
}

.catalog-furniture {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 1174px;
    height: 840px;
}


.door-furnitures {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(4, 1fr);   
    gap: 10px; 
}

.door-furnitures img {
    object-fit: cover; 
    border-radius: 8px;
}

.door-furnitures__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 183px;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(216, 216, 216, 0.1); 
}