* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  padding: 30px 0 0 0;
  margin: auto;
}

.section-wrapper {
  width: 100%;
}

section {
  max-width: 1440px;
  width: 100%;
  padding: 30px 132px;
  margin: auto;
}

.header-top {
  width: 1176px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 30px 0;
}

.header-top p {
  color: #7e8290;
  font-size: 14px;
}

.header-bottom {
  height: 58px;
  width: 1176px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px 25px 25px;
  background-color: #f4f4f5;
  margin-bottom: 30px;
  border-radius: 8px;
}

.header-adress {
  display: flex;
  align-items: center;
  gap: 10px;
}

#orange-text {
  color: #f85b18;
}

.adress-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-size: 14px;
}

.adress-text p {
  color: black;
}

.header-call {
  display: flex;
  align-items: center;
  gap: 10px;
}

.call-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.call-text p {
  color: #7e8290;
  font-size: 12px;
}

.call-text h3 {
  font-size: 22px;
  font-weight: 550;
}

.container-header-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f1f1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
}

.header-btn-count {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #f85b18;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1;
  box-shadow: 0 0 0 2px white;
}

.header-nav-links {
  display: flex;
  align-items: center;
  gap: 42px;
  font-size: 16px;
}

a {
  color: inherit; /* Убирает цвет, наследуя от родителя (обычно черный, если не задан) */
  text-decoration: none; /* Убирает подчеркивание */
}

.search {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 196px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.promo-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-slide {
  position: relative;
}

.promo-slider .btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  background: none;
  border: none;
  outline: none;
}

.promo-slider .left-btn {
  left: 132px;
  transform: translate(-50%, -50%);
}

.promo-slider .right-btn {
  right: 132px;
  transform: translate(50%, -50%);
}

.catalog-door-types {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 50px;
}

.catalog-door-name {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.interior-doors,
.solid-doors,
.sliding-interior-doors,
.glass-doors {
  display: flex;
  justify-content: center;
  position: relative;
}

.interior_door,
.catalog-entrance-doors {
  background-color: #f4f4f5;
}

.catalog-img {
  position: relative;
}

.catalog-name {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  bottom: 20px;
}

.catalog-door-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 50px 0;
  padding-top: 10px;
}

.catalog-door-head-solid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50px 0;
  padding-top: 30px;
  padding-bottom: 20px;
}

.nav-links {
  display: flex;
  gap: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.catalog-interior-doors {
  display: flex;
  justify-content: center;
}

.door-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.door-card-base {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  gap: 10px;
  height: 542px;
}

.door-card {
  max-width: 282px;
  width: 100%;
}

.door-card-solid {
  width: 376px;
}

.title-head-door {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
}

.solid-door-img {
  max-width: 344px;
  max-height: 334px;
  padding-top: 10px;
}

.door-cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.door-card-sale-base {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.door-card-sale {
  gap: 140px;
}

.door-card-sale-solid {
  gap: 250px;
}

.door-card-sale h4,
.door-card-sale-solid h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

.colors-door,
.colors-door-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 3px;
  margin-right: 20px;
  margin-top: 20px;
}

.colors-door {
  width: 212px;
}

.colors-door-solid {
  width: 320px;
}

.color_container {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  overflow: hidden;
}

.color_container_number {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  border: 2px solid #f85b18;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-price {
  display: flex;
  width: 829px;
  margin: 30px 20px 0px 20px;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background-color: #e0e0e2;
  border-radius: 38px;
  gap: 30px;
}

.nav-price a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  border-radius: 38px;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}

.orange-btn {
  background-color: #f85b18;
  width: 204px;
  height: 40px;
  color: #f4f4f5;
}

.line {
  justify-content: center;
  height: 30px;
  border: 1px solid #babac4;
  transform: rotate(180deg);
}

.catalog-furniture {
  height: 840px;
}

.catalog-furniture h2 {
  padding-bottom: 50px;
  padding-top: 20px;
}


.door-furnitures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.door-furnitures img {
  object-fit: cover;
  border-radius: 8px;
}

.door-furnitures__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 222px;
  height: 183px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  position: relative;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(216, 216, 216, 0.1);
}


.delivery-info {
  display: flex;
  align-items: center;
  margin-top: 150px;
  padding-left: 0;
  background-color: #F5FAFF;
  width: 1174px;
  height: 452px;
  gap: 100px;
  border-radius: 10px;
}

.delivery-info img {
  height: 452px;
  border-radius: 10px;
}

.delivery-text  {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.delivery-text h3 {
  font-size: 32px;
}

.delivery-button-price {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f85b18;
  width: 144px;
  height: 40px;
  color: #f4f4f5;
  border-radius: 38px;
}


.a {
 width: 392px;
 max-width: 392px;
}

.shop-gallery h2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-top: 90px;
  font-size: 32px;
}

.shop-gallery-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a c d"
    "b c e";
  gap: 30px;
}

.shop-gallery-img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }


.service-info {
  display: flex;
  gap: 28px;
}

.service-info__icon {
  max-width: 43px;
  max-height: 43px;
}

.service-info__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 273px;
  height: 214px;
  border: 2px solid gray;
  border-radius: 8px;
  padding: 15px 15px;
  gap: 10px;
}

.service-info__item p {
  font-size: 14px;
}
